body {
	font-family: Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	min-width: 500px;
}

header {
	margin: 0 0 15px 0;
	background-color: #DAD;
	border: 2px ridge silver;
}

nav {
  margin: 0 0 15px 0;
	background-color: yellow;
	width: 100%;
}

section {
	padding: 0 15px;
	margin-bottom: 10px;
}

footer {
	position: relative;
	clear: both;
	font-size: 10px;
	text-align: center;
	background-color: yellow;
}

h1 {
	font-size: 18px;
	text-align: center;
}
h2 {
	font-size: 14px;
	margin: 3px 0;
}
h3 {
	font-size: 12px;
	margin: 2px 0;
}

nav a {
	font-size: 10px;
	display: block;
	padding: 5px;
	font-weight: bold;
	color: #333;
}

nav a:visited {
	color: #000;
}

nav a:hover {
	color: #bbb;
}

nav p, aside p {
	font-size: 8px;
	margin: 2px 0;
}
.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}



.container:hover .image {
  opacity: 0.3;
}.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .middle {
  opacity: 1;
}

.img_descr_text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.img_descr_button {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
