body {
	background-color: #db9930;
	text-align: center;
}

h1, h2 {
	color: black;
	font-family: "Verdana", sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.75em;
}

p {
	font-family: "Times New Roman", serif;

}

p.normal {
	font-style: normal;
}

p.italic {
	font-style: italic;
}

p.bold {
	font-weight: bold;
}


input, select {
	width: 100%;
	padding: 12px 10px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=date], select {
	width: 100%;
	padding: 12px 10px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

div.form {
	display: inline-grid;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin: 10 auto;
	width: 55%;
}

div.form_col_l {
	float: left;
	width: 49%;
}

div.form_col_r {
	float: right;
	width: 49%;
}
